body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#track {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 20px auto;
}

svg {
  width: 100%;
  height: 100%;
}

/* carros */
.car {
  position: absolute;
  width: 24px;
  height: 24px;
  offset-path: path(
    "M50 50 H450 V250 H50 Z
     M120 120 H380 V180 H120 Z"
  );
  offset-rotate: auto;
}

.car img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: -36px;
  left: -4px;
}

.red { background: crimson; }
.blue { background: dodgerblue; }

#laps {
  margin-top: 10px;
}

#result {
  font-size: 20px;
  margin-top: 10px;
}
